body {
    background-color: #370617;
}

main {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


section {
    display: inline-block;
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 10px;
    /* Section-marginalen beter sig annorlunda än class-marginalerna */
}


.container {
    display: flex;
    width: 468px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F48C06;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* Container-klassernas marginaler överlappar varandra medan section-klassens marginaler inte tycks överlappa ..? */
}

.bottom-left {
    align-items: end;
}

.center-right {
    align-items: center;
    justify-content: end;
}

.baseline-stretch {
    /* align-items: baseline; */
    justify-content: space-around;
    /* Förstår inte hur man får både text och objekt att hamna rätt */
}

.center {
    align-items: center;
    justify-content: center;
}

.tl-tc-br {
    align-items: start;
    justify-content: space-between;
}

.card {
    display: flex;
    /* min-height: 78px; */
    width: 78px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #9D0208;
    margin: 10px;
    /* align-items: center; */
    justify-content: center;
}

.square {
    min-height: 78px;
}

/* .tall {
    align-self: stretch;
} */

.compressed {
    height: 64px;
    /* Fattar inte hur jag ska få denna att bli 64 pixlar hög utan att flytta ut min-height till en egen klass ..? */
    margin-top: 43px;
}

.shadow {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.wide {
    flex-grow: 0.5;
}

.down {
    align-self: flex-end;
}

.card__info {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* jag får inte align-items/baseline att funka så jag testade att återskapa det hela, får det ändå inte att funka :( */

.testbox {
    background-color: aqua;
    width: 400px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: baseline;
    /* justify-content: space-around; */
}

.testcard {
    background:#FFF;
    margin: 10px;
    width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.large {
    align-self: stretch;
}

.cardtext {
    font-family: 'Courier New', Courier, monospace;
}